<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9IgwB6nF49yZvKKYMck7WOGEJPB7diC4</string>
	<key>GCM_SENDER_ID</key>
	<string>476497119495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.capstone.Allogdallog</string>
	<key>PROJECT_ID</key>
	<string>allogdallog-eedd3</string>
	<key>STORAGE_BUCKET</key>
	<string>allogdallog-eedd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:476497119495:ios:5f2f82e866c8990ff6dda2</string>
</dict>
</plist>
